<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">

	<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
	<title>Sponsors</title>
</head>
<body>
<h1>Sponsors</h1>
<button onclick="document.getElementById('form').style.display='block';"
				style="height: 35px; background-color: aquamarine;">+Add Sponsor
</button>
<div id="form" style="display: none;">
	<form action="/sponsors/add" method="post">
		Name:<br>
		<input type="text" name="name" placeholder="name">
		<br>
		Surname :<br>
		<input type="text" name="surname" placeholder="surname">
		<br>
		Phone:<br>
		<input type="text" name="phone" placeholder="phone">
		<br>
		Animals:<br>
		<input type="text" name="animals" placeholder="animals">
		<br><br>
		<input type="submit" value="Submit">
	</form>
</div>
<br><br>
<table>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Surname</td>
		<td>Phone</td>
		<td>Animals</td>
	</tr>
	<tr th:each="sponsor: ${sponsors}">
		<td th:text="${sponsor.id}"/>
		<td th:text="${sponsor.name}"/>
		<td th:text="${sponsor.surname}"/>
		<td th:text="${sponsor.phone}"/>
		<td th:text="${sponsor.animals}"/>
		<td>
			<form method="post" action="/sponsors/profile">
				<input style="display:none;" type="text" name="id" th:value="${sponsor.id}">
				<button type="submit" value="Profile" style="height:20px; background-color: dodgerblue;">Go to profile</button>
			</form>
		</td>
		<td>
			<form method="post" action="/sponsors/delete">
				<input style="display:none;" type="text" name="id" th:value="${sponsor.id}">
				<button type="submit" value="Delete" style="height:20px; background-color: red;">Delete this sponsor</button>
			</form>
		</td>
	</tr>
</table>
<form action="/login" method="post">
	<input style="display:none;" type="text" name="username" value="admin">
	<input style="display:none;" type="text" name="password" value="admin">
	<input style="height: 40px;" type="submit" value="Back to main menu">
</form>
</body>
</html>

